<div class="bg-white rounded-2xl shadow-lg my-8" phx-window-keydown="keydown">
    <div class="flex px-8 py-4 border-b">
        <%= link "←", to: Routes.episodes_path(@socket, :index), class: "w-10 h-10 bg-gray-200 rounded-full flex items-center justify-center text-xl text-gray-500 hover:bg-gray-100" %>
        <div class="bg-white flex-grow rounded-full flex items-center px-6">
            <%= live_component EpisodeNameComponent, id: "episode-name", episode: @episode %>
        </div>
    </div>

    <div class="flex border-b items-center">
        <%= if @started? do %>
            <div class="px-8 py-4 text-xl flex items-center justify-center text-flamingo-600 font-mono border-r">
                <span class="uppercase px-2 py-1 rounded-lg bg-flamingo-500 text-white mr-4">On Air</span>
                <%= elapsed(@episode, @now) %>
            </div>
            <div class="px-8 py-4 flex-grow space-x-8">
                <button phx-click="add-marker" class="rounded-full bg-white btn" phx-value-name="Marker">Add Marker <kbd class="ml-1">M</kbd></button>
                <button phx-click="add-marker" class="rounded-full bg-white btn" phx-value-name="Transition">Add Transition <kbd class="ml-1">T</kbd></button>
            </div>
        <% else %>
            <div class="px-8 py-4 flex items-center">
                <button phx-click="start" class="rounded-full bg-white btn">Start Recording</button>
            </div>
        <% end %>
    </div>


    <div>
        <%= if @started? do %>
            <%= if @markers == [] do %>
                <div class="py-8 text-muted italic text-center border-b">No markers yet</div>
            <% end %>

            <%= for {marker, index} <- Enum.with_index(@markers) do %>
                <%= live_component EpisodeMarkerComponent, id: "episode-marker-#{marker.id}", episode: @episode, marker: marker, selected?: index == @selected_index %>
            <% end %>

            <%= link "Download AIFF", to: Routes.episode_path(@socket, :download, @episode.id), class: "btn inline-block px-8 py-4" %>
        <% end %>
    </div>
</div>